* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f1c5f1;
  font: bold 20px "Courier";
}

.container {
  width: 360px;
  height: 420px;
  background-color: #b7d4a8;
  margin: 80px auto;
  border: 10px solid black;
  border-radius: 8%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}

.container div {
  width: 300px;
}

.container .screen {
  height: 300px;
  margin-top: 20px;
  border: 1px solid black;
  position: relative;
}

.container .screen .snake div {
  height: 10px;
  width: 10px;
  background-color: black;
  border: 1px solid #b7d4a8;
  position: absolute;
}

.container .screen .food {
  height: 10px;
  width: 10px;
  border: 1px solid #b7d4a8;
  position: absolute;
  top: 50px;
  left: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: space-between;
}

.container .screen .food div {
  width: 3.5px;
  height: 3.5px;
  background-color: #ff2424;
  border-radius: 5px;
}

.container .footer {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container .footer div {
  width: auto;
}
