<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>基本列表</title>
        <!-- 引入Vue -->
        <script type="text/javascript" src="../js/vue.js"></script>
    </head>
    <body>
        <!-- 
            v-for指令
                1.用于展示列表数据
                2.语法：v-for="(item, index) in xxx" :key = "yyy"
                3.可遍历：数组、对象、字符串(用的很 少)、指定次数(用的很少)
         -->
        <!-- 准备好一个容器 -->
        <div id="root">
            <!-- 遍历数组 -->
            <h2>人员列表</h2>   
            <ul>
                <li>姓名--年龄--索引(index)</li>
                <li v-for="(person,index) in persons" :key="person.id">
                    {{person.name}}--{{person.age}}--{{index}}
                </li>
            </ul>
            <hr>
            <!-- 遍历对象 -->
            <h2>汽车信息</h2>   
            <ul>
                <li>key--value</li>
                <li v-for="(value,key) in car" :key="key">
                    {{key}}--{{value}}
                </li>
            </ul>
            <hr>
            <!-- 遍历字符串 -->
            <h2>测试遍历字符串(少用)</h2>   
            <ul>
                <li>cahr--index</li>
                <li v-for="(char, index) in str" :key="index">
                    {{char}}--{{index}}
                </li>
            </ul>
            <hr>
        </div>
    </body>

    <script type="text/javascript">
        Vue.config.productionTip = false; // 阻止 vue 在启动时生成生产提示
        
        const vm = new Vue({
            el: '#root',
            data:{
                persons:[
                    {id:'001', name:'张三', age:'13'},
                    {id:'002', name:'李四', age:'14'},
                    {id:'003', name:'王五', age:'15'}
                ],
                car:{
                    name:'奥迪A8',
                    price:'70w',
                    color:'black',
                },
                str:'string'
            }
        })
    </script>
</html>