.info{
  background-color: skyblue;
  color: white;
  font-size: 30px;
}
.vue,.girl{
  width: 200px;
  height: 200px;
}
.vue{
  background: url('../imgs/logo.svg') no-repeat center;
}
.girl{
  background: url('../imgs/259cf318ce1446d28202bd1bff750c8c.jpg') no-repeat;
  background-size: contain;
}
img{
  height: 200px;
}
