// test1
$name:foo;
$attr:border;
p.#{$name}{
    #{$attr}-color:black;
}

// test2 
button{
    background-color: pink;
    &:hover{
        background-color: yellow;
    }
}

//test3
$add2: 1 + 2;   //3
$add1: 1 + 2px; // 3px
div{
   border: #{$add1} solid pink;
}